.pure-table {
    border-collapse: collapse;
    empty-cells: show;
    width: 100%;
}

.pure-table td {
    font-size: inherit;
    padding: .5em .5em;
}

.pure-table th {
    font-size: inherit;
    padding: .5em .5em;
}

.pure-table th::-webkit-scrollbar {
    display: none;
}

.pure-table-horizontal th {
    border-width: 5px 0 0px 0;
    color: lightgray;
    border-bottom: 1px solid #cbcbcb;
    background-color: #3d3a5e;
    text-align: center;
    position: sticky;
    top: 0;
}

.pure-table-horizontal td {
    border-width: 0 0px 0px 0;
    color: black;
    border-bottom: 1px solid #cbcbcb;
    background-color: whitesmoke;
    text-align: center;
}

.table-shape .pure-table-horizontal tbody>tr:last-child>td {
    border-bottom-width: 0
}

.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border: 1px solid #cbcbcb;
    border-collapse: collapse;
}

.pure-table-horizontal tbody>tr:last-child>td {
    border-bottom-width: 0;
}

tr:hover {
    background-color: #f5f5f5;
}

.table-div {
    height: 60%;
    overflow-y: scroll;
    margin-left: 20px;
    margin-right: 20px;
}