.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    min-width: 95%;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em
}

.pure-table thead {
    background-color: #0f0875;
}

.pure-table-horizontal tr {
    width: 100%;
}

.pure-table-horizontal th {
    border-width: 0 0 1px 0;
    color: lightgray;
    border-bottom: 1px solid #cbcbcb;
    background-color: #3d3a5e;
    text-align: center;
}

.pure-table-horizontal td {
    border-width: 0 0 1px 0;
    color: black;
    border-bottom: 1px solid #cbcbcb;
    background-color: whitesmoke;
    text-align: center;
}

.padding-table {
    margin-left: 20px;
    margin-right: 20px;
}

.table-shape .pure-table-horizontal tbody>tr:last-child>td {
    border-bottom-width: 0
}

.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table-horizontal tbody>tr:last-child>td {
    border-bottom-width: 0;
}

.table-index-column {
    max-width: 20px !important;
}